<!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

<div class="sidebar">
  <div class="sidebar-namebar">
    <a class="site_name" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/atom.svg" | relative_url }}" alt="Totally Nuclear, Dude!" />
    </a>
    <h1><a class="site_name" href="{{ "/" | relative_url }}">jszym.com</a></h1>
  </div>
  <div class="about">
  A blog about code, cancer, and coddiwompling<br/> <span>written by Joseph Szymborski, an M.Sc student at McGill studying machine learning &amp; breast cancer.</span>
  </div>
  <nav>
    <ul>
      {% for path in page_paths %}
        {% assign my_page = site.pages | where: "path", path | first %}
        {% if my_page.title and my_page.nav %}
          <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
