    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title | escape }} @ jszym.com{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}" />
        <meta property="og:image" content="{{ "/assets/og.png" | relative_url }}" />
        <meta property="og:image:type" content="image/png" />
        <meta name="author" content="{{ site.author | escape }}" />
        <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
        <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}" type="image/x-icon">
        <link rel="icon" href="{{ "/assets/favicon.ico" | relative_url }}" type="image/x-icon">

        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
        <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}">
    </head>