@charset "utf-8";

/*!
BY: Joseph Szymborski
*/



a{
  color:$blueberry;
}
a:hover{
  color:darken($blueberry, 10);
  text-decoration:none;
}

html,body{
  height:100%;
  margin:0px;
  padding:0px;
  font-size:20px;
}
body{
  margin-left:$sidebar-size;
  counter-reset: sidenote-counter -1; /* 0-indexed lists */
}

div.main{
  margin:0 auto;
  width:85%;
}


div.sidebar{
  position:fixed;
  left:0;
  top:0;
  width: $sidebar-size;
  background-color: $watermelon;
  color: $sidebar-text-colour;
  border-left:$sidebar-border-size solid $watermelon-shadow;
  margin:0px;
  height:100%;
  text-align:center;
  font-size:$sidebar-font-size;
  font-weight:bold;
}


div.sidebar>div.about{
  padding:0px 20px 0px 20px;
}
div.sidebar>div.about>span{
  color:$watermelon-shadow;
}


div.sidebar-namebar{
  background-color:$blueberry;
  color: $sidebar-text-colour;
  padding:$sidebar-size/5 0px $sidebar-size/5 0px;
  border-left:$sidebar-border-size solid $blueberry-shadow;
  text-align:center;
  margin-left:-$sidebar-border-size;
  margin-bottom: $sidebar-size/5;
}

.sidebar-namebar a:hover{
  color: $sidebar-text-colour;
}

a.site_name{
  color: $sidebar-text-colour;
}

a.site_name:hover{
  text-decoration: none;
}

.sidebar h1{
  font-size:$sidebar-size/10;
  font-weight:bold;
}


.page-content{
  width:70%;
  padding-top:82px;
  padding-bottom:82px;
  margin-left:20px;
}

.page-content h1{
  font-weight:bold;
  font-size:40px;
}
article{
  position:relative;
  width:100%;
  min-height: calc(100vh - 300px);
}
time{
  color:#999;
  width:100%;
  display:block;
  margin-bottom:55px;
}
article p{
  font-size:20px;
  margin-top:5px;
  margin-bottom:20px;
  line-height: 35px;
  width:100%;
}

article p .simptip-position-top{
  text-indent:0px !important;
  cursor:pointer;
}


.post-link{
  color:#222;
}

.post-link:hover{
  color:#222;
  text-decoration:none;
}

pre>code{
  font-size:18px;
  margin-top:-10px !important;
}

$code_background: rgb(248, 248, 255);

code{
  background:$code_background;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  padding:2px;
}

.highlight, pre{
  background:$code_background !important;
  //background:lighten($watermelon, 10);
  border-radius: 3px;
  border: 1px solid #e8e8e8;
}
pre.highlight>code{
  border:0px;
  padding:0px;
}

.highlight{
    padding:10px 40px 10px 40px;
}

.math{
  text-indent:0px; // If we don't do this, the formulas end up mangled
  font-size:18px;
}

.block{
  display:block;
  padding:25px;
  text-align:center;
  font-size:20px !important;
}


nav{
  position: absolute;
  bottom: 0;
}
nav ul{
  padding:0px;
  list-style-type: none;
  padding:10px;
  margin:5px;
}
nav ul li, nav ul, nav{
  width:100%;
}

nav ul li a{
  text-align:center;
  display:block;
  width:80%;
  margin:0 auto;
  margin-top:10px !important;
  background-color: $watermelon-shadow;
  padding:10px;
  font-size:$sidebar-size/18;
  color:white;
}
nav ul li a:hover{
  color:white;
  background-color: darken($watermelon-shadow, 5);
  text-decoration:none;
}

ul.article-list{
  padding: 25px 0px 0px 0px;
  margin-left:16px;
  list-style-type: none;
}
ul.article-list li{
  margin-top:60px;
}
ul.article-list li p{

  font-size:18px;
  padding-left: 7px;
  color:#333;

}
ul.article-list li h2{
  font-weight:bold;
  padding-left: 12px;
  border-left:4px solid #333;
  margin-left:-12px;
  width:100%;
  text-align:left;
}

.infobox{
  padding:20px;
  background-color:#d9edf7;
  color:#31708f;
  display:block;
  font-size:20px;
}

footer{
  color:#ccc;
  text-align:center;
  font-weight:bold;
  font-size:16px;
  height: 50px;
}


//

.admonitionblock{
  padding:10px 30px 10px 30px;
  border-radius:2px;
  margin:10px 0px 50px 0px;
}
.admonitionblock .icon{
  margin-left:10px;
  width:15%;
  display:none;
}
.admonitionicon{
  padding-right:10px;
  font-size:30px;
  vertical-align:middle;
  text-align:center;
}

.admonitionblock.note{
  background-color:lighten($blueberry,40);
  color:darken($blueberry,25);
  border:1px solid lighten($blueberry,25);
}
.admonitionblock.note .content::before{
  @extend .admonitionicon;
  content: "📢";
}

$tip_colour: #1FAB2A;
.admonitionblock.tip{
  background-color:lighten($tip_colour,40);
  color:darken($tip_colour,25);
  border:1px solid lighten($tip_colour,5);
}
.admonitionblock.tip .content::before{
  content: "💡";
  @extend .admonitionicon;
}

$caution_colour: #E0C80B;
.admonitionblock.caution{
  background-color:lighten($caution_colour,40);
  color:darken($caution_colour,25);
  border:1px solid lighten($caution_colour,5);
}
.admonitionblock.caution .content::before{
  content: "⚠️";
  @extend .admonitionicon;
}


.admonitionblock.warning{
  background-color:lighten($watermelon,25);
  color:darken($watermelon,25);
  border:1px solid lighten($watermelon,10);
}
.admonitionblock.warning .content::before{
  content: "❗";
  @extend .admonitionicon;
}

.admonitionblock.important{
  background-color:lighten($watermelon,25);
  color:darken($watermelon,25);
  border:1px solid lighten($watermelon,10);
}
.admonitionblock.important .content::before{
  content: "‼️";
  @extend .admonitionicon;
}

.sect1 h2::before, .sect2 h3::before, .sect3 h4::before{
  content:"§"
}

.sect1 h2, .sect2 h3, .sect3 h4{
  font-weight:bold;
}

.overflow .content, table.overflow{
  height: 500px !important;
  overflow-y: scroll;
  margin:20px;
}

.centre-img .content{
    text-align:center;
}
.centre-img .content img{
  margin:0 auto;
}

.left-img{
  width:50%;
  float:left;
}
.right-img{
  width:50%;
  float:right;
}
.right-img::after{
  clear:both;;
}

.left-img .content img, .right-img .content img{
  margin:0 auto;
}

.full-img .content img, .full-img .content a img{
  width:100%;
}

.imageblock{
  padding-top:20px;
  padding-bottom:20px;
}

.imageblock .title{
  text-align:center;
  font-style:italic;
  font-size:16px;
}

.notitalic{
  font-style: normal !important;
}

.imageblock .content img, .imageblock .content a img{
  max-width: 100%;
}

.page-lead{
  font-size:30px;
  font-style:normal;
  margin-top:45px;
}

ul.social-list{
  margin-left:0px;
  padding:0px;
}

ul.social-list li{
  display:inline;
  font-size:30px;
  margin-right:15px;
  white-space:nowrap;
  margin-top:10px;
  line-height:60px;
  padding:5px;
}


ul.social-list li a:hover{
  border-bottom: 4px solid #333;

}

ul.social-list li a{
  color: #333;
  padding:0px;
  padding-bottom:5px !important;
  margin:0px;
  border-bottom: 4px solid #ccc;
}

ul.social-list li img{
  width:30px;
  margin-bottom:-5px;
  word-break:keep-all;
  margin-right:2px;
}

.katex-display{
  padding-top:17px;
  padding-bottom:17px;
}

caption.title{
  color:rgb(51, 51, 51);
  font-weight:bold;
  font-size:16px;
  text-align:center;
}

/* [BEGIN] TABLE STYLE */
th, td p{
  font-size:16px !important;
}
td p{
  padding:0px;
  margin:0px;
}
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}/* [END] TABLE STYLE */

/* [BEGIN] SIDENOTE CODE

This code that implements sidenotes is from the tufte-jekyll project
by Clay Harmon, with minor modifications by Joseph Szymborski.
https://github.com/clayh53/tufte-jekyll

*/


.sidenote, .marginnote { margin-right: -195px;
position: absolute;
right: 0;
top: auto;
width: 175px;
font-size:16px;
line-height:20px;
text-align:left;
/*border-left:4px solid #E3E3E3;*/
padding-left:15px;
text-indent:0px;
margin-top:-50px;
display:inline; }

li .sidenote, li .marginnote{ margin-right: -80%; } //added to allow for the fact that lists are indented and marginnotes and sidenotes push to right

blockquote .sidenote, blockquote .marginnote { margin-right: -79% }

.sidenote-number { counter-increment: sidenote-counter; }


.sidenote-number:after{ content: counter(sidenote-counter) " ";
                                           color: $blueberry; //added color
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote:before { content: counter(sidenote-counter) " ";
                                           color: $blueberry; //added color
                                           position: relative;
                                           vertical-align: baseline;
                                         margin-left:-16px;}

.sidenote-number:after { content: counter(sidenote-counter);
                         font-size: 0.8rem;
                         top: -0.5rem;
left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) ".\000a0"; // this is unicode for a non-breaking space
                   color: $blueberry;
top: 0rem; } //removed superscripting for numerical reference in sidenote


.marginnote code, .sidenote code { font-size: 1rem; } //more .code class removal

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

.margin-toggle{ display:none; }

.sneakysneaky{
  unicode-bidi:bidi-override;
  direction:rtl;
}

.sneakysneaky:after{
  content:".myzsj@olleh";
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* [END] SIDENOTE CODE */


@media screen and (max-width:1152px){
  body{
    margin-left:0px !important;
  }
  div.sidebar{
    position:relative !important;
    width: 100% !important;
    height:auto !important;
    font-size:$sidebar-font-size/3;
    padding-bottom:10px;
  }
  div.page-content{
    width:100%;
    padding-top:135px;
  }

  div.sidebar-namebar{
    padding:$sidebar-size/7 0px $sidebar-size/7 0px !important;
    margin-bottom: $sidebar-size/15 !important;
    font-size:$sidebar-font-size/3
  }
  div.sidebar-namebar img{
    margin-top:-10px !important;
  }
  div.sidebar-namebar h1{
    display:inline;
    padding-left:20px;
  }
  div.sidebar>div.about{
    font-size:20px;
  }
  div.sidebar>nav{
    margin-bottom:-145px;
  }
  nav ul li a{
    background-color:#ccc !important;
    color:black !important;
  }
  nav ul li a:hover{
    background-color:darken(#ccc, 20) !important;
    color:black !important;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline; color: $blueberry;
  }

  .sidenote, .marginnote { display: none; }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote { display: block;
                                         float: left;
                                         left: 1rem;
                                         clear: both;
                                         width: 95%;
                                         margin: 1rem 2.5%;
                                         vertical-align: baseline;
                                         position: relative; }
 label { cursor: pointer; }
}



@media screen and (max-width: 1152px) {

}

@media screen and (min-width: 1152px) {
    // make simptip invisible when at full size
    // since we have the sidenote
    .simptip-position-top[data-tooltip]::after,
    .simptip-position-top[data-tooltip]::before {
        display:none !important;
    }

}
