@charset "utf-8";

$watermelon: #ff546c;
$watermelon-shadow: desaturate(darken($watermelon, 18), 49);
$blueberry: #008dff;
$blueberry-shadow: desaturate(darken($blueberry, 18), 49);
$sidebar-text-colour: #ffffff;
$sidebar-size: 275px;
$sidebar-font-size: $sidebar-size/13;
$sidebar-border-size: $sidebar-size/25;
$spacing-unit:     30px !default;

// Import partials.
@import
  "partials/normalize",
  "partials/layout",
  "partials/simptip",
  "partials/syntax-highlighting"
;
