---
layout: default
---

<article>
  {{ content }}
  <ul class=article-list>
    {% for post in site.posts %}
    <li>
      <h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p><time datetime={{ post.date | date_to_xmlschema }} itemprop=datePublished style="margin-bottom:0px !important;">{{ post.date | date: "%-d %B, %Y" }}</time></p>
      <p>{{ post.excerpt | strip_html | normalize_whitespace }}</p>
      <p><a href={{ post.url | relative_url }} />Read More >></a></p>
    </li>
    {% endfor %}
  </ul>
</article>
