---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">Hiya! I'm Joseph Szymborski</h1>
  </header>

  <div class="post-content">
    <p class="page-lead">
      At a glance, I’m a student <strong>researching machine learning for breast cancer</strong>
      and with a strong web development background. I help people make critical decisions using 
      quantitative approaches with a human focus.
    </p>
    <p class="page-lead">
      I keep a <a href="./blog/">blog</a> here, which you might like reading.
    </p>
    <p class="page-lead">
      You can find me elsewhere on the good 'ol internet:<br/>
      <ul class="social-list">
        <li>
          <img src="assets/social_logos/hacker-news.svg" />
          <a href="https://news.ycombinator.com/user?id=jszymborski" target="_blank">
            HackerNews
          </a>
        </li>
        <li>
          <img src="assets/social_logos/github.svg" />
          <a href="https://github.com/jszym" target="_blank">
            Github
          </a>
        </li>
        <li>
          <img src="assets/social_logos/twitter.svg" />
          <a href="https://twitter.com/jszym" target="_blank">
            Twitter
          </a>
        </li>
        <li>
          <img src="assets/social_logos/mastodon.svg" />
          <a href="https://mastodon.club/@jszym" target="_blank">
            Mastodon
          </a>
        </li>
        <li>
          <img src="assets/social_logos/key.svg" />
          <a href="https://keybase.io/jszym" target="_blank">
            Keybase
          </a>
        </li>
      </ul>
    </p>
    <br/>
    <p class="page-lead">
      Shoot me a message: <span class="sneakysneaky">moc</span>
    </p>
  </div>

</article>
