---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{% if page.long-title %}{{ page.long-title}}{% else %}{{ page.title}}{% endif %}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
